In [3]:
import pandas as pd

In [12]:
data=pd.read_csv("convertcsv.csv")

In [24]:
data.tail()

,Month,Drehem Š26-Š43,Drehem Š44,Drehem Š45,Drehem Š46,Drehem Š47-AS3,Drehem AS4-5,Drehem ŠS2,Drehem < ŠS3,Drehem ŠS3,...,Ur,Garšana,Umma < Š30,Umma Š30-39,Umma Š40-AS6,Umma AS7-ŠS2,Umma ŠS3-IS8,Adab,Irisagrig (Owen),Irisagrig (Ozaki)
72,šu-numun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6,6,6,6,6,NaN,NaN,NaN
73,u5-bi2mušen-gu7,3,3,3,3,3,3,3,3,3,...,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,u5-bi2mušen-gu7 min(3),NaN,03m = Š45 iii ?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,udruduru5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,UR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
CityName=set()
for i in data:
    if i=="Month":
        continue
    else:
        l=i.split()
        CityName.add(l[0])

In [16]:
CityName

{'Adab', 'Drehem', 'Garšana', 'Girsu', 'Irisagrig', 'Nippur', 'Umma', 'Ur'}

In [29]:
Monthsname=set()

In [30]:
for i in data["Month"]:
    Monthsname.add(i)

In [36]:
Monthsname

In [38]:
cityname=list(CityName)
cityner=[]
citypos=[]
for i in range(len(CityName)):
    cityner.append("QN")
    citypos.append("N")

In [39]:
monthname=list(Monthsname)
monthner=[]
monthpos=[]
for i in range(len(Monthsname)):
    monthner.append("MN")
    monthpos.append("N")

In [43]:
MONTHS=pd.DataFrame({"Text":monthname,"NER":monthner,"POS":monthpos})
CITY=pd.DataFrame({"Text":cityname,"NER":cityner,"POS":citypos})

In [47]:
MONTHS.to_csv("months_ner.csv")

In [49]:
CITY.to_csv("city_ner.csv")